body {
  background-image: url(blurtree.jpg);
  background-position: center;
  background-size: 1500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2 {
  color: #bd0930;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-left: 60px;
  font-size: 45px;
}

h4 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-left: 60px;
  font-size: 25px;
}

.col-4 {
  color: #bd0930;
  font-size: 30px;
}

ul {
  list-style: none;
}

Form {
  text-align: center;
}

footer {
  text-align: center;
  color: #bd0930;
}

img {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.temperature {
  font-size: 60px;
}
.units {
  position: relative;
  top: -30px;
  font-size: 20px;
}
.five-day {
  background-color: rgba(211, 159, 62, 0.3);
  border: 1px black solid;
  border-radius: 30px;
  border-style: none;
  box-shadow: 8px 8px 6px black;
  padding-top: 20px;
  padding-bottom: 30px;
}

.weatherpic {
  margin: 0 auto;
  width: 100px;
  bottom: 20px;
  display: inline-block;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast {
  color: #fff;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-left: 100px;
}

.weather-forecast-min {
  opacity: 0.5;
}

.weather-forecast-date {
  opacity: 0.9;
}
